<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href ='/css/style.css'>
        <script src='/js/clientjs.js'></script>
    </head>
    <body>
        <h1>Title: {{title}}</h1>
        <h1>Author: {{owner}}</h1>
    </body>
</html>